@model ProductViewModel
<div class="formWrapper">
    <form asp-action="Update" asp-controller="Product" enctype="multipart/form-data">
        <div class="validation" asp-validation-summary="All"></div>
        <div class="form-group">
            <span asp-validation-for="Name" />
            <label asp-for="Name">Name:</label>
            <input type="text" value="@Model.Name" asp-for="Name" maxlength="15" required/>
        </div>
        <div class="form-group">
            <span asp-validation-for="Price"></span>
            <label asp-for="Price">Price:</label>
            <input type="number" value="@Model.Price" asp-for="Price" max="10000" min="5" required/>
        </div>
        <div class="form-group">
            <span asp-validation-for="Description"></span>
            <label asp-for="Description">Description:</label>
            <textarea asp-for="Description" maxlength="300" required>@Model.Description</textarea>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="PhotoLink" value="@Model.PhotoLink"/>
            <label for="photoFile">Photo:</label>
            <input type="file" id="photoFile" name="photoFile" accept="image/png, image/jpeg, image/jpg"/>
        </div>
        <input class="btn-primary" type="submit" value="Create" />
    </form>
</div>
